In [6]:
#Importing the Libraries
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib. pyplot as plt
import matplotlib
from pathlib import Path
from sklearn.preprocessing import MinMaxScaler
# from keras.layers import LSTM, Dense, Dropout
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib. dates as mandates
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
# from keras.models import Sequential
# from keras.layers import Dense
# import keras.backend as K
# from keras.callbacks import EarlyStopping
# from keras.optimisers import Adam
# from keras.models import load_model
# from keras.layers import LSTM
# from keras.utils.vis_utils import plot_model

In [8]:
# read our current data
# the chosen data is: tech.csv (1 year)

techdf = pd.read_csv(Path('resources/csv/tech.csv'))
techdf

,date,open,high,low,close,volume,Symbol,Name,Industry,Market Cap
0,2017-01-03,115.80,116.3300,114.760,116.15,28781865,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
1,2017-01-04,115.85,116.5100,115.750,116.02,21118116,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
2,2017-01-05,115.92,116.8642,115.810,116.61,22193587,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
3,2017-01-06,116.78,118.1600,116.470,117.91,31751900,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
4,2017-01-09,117.95,119.4300,117.940,118.99,33561948,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
...,...,...,...,...,...,...,...,...,...,...
1934,2018-02-01,34.10,34.3300,32.560,32.75,8154921,XRX,Xerox Holdings,"Technology Hardware, Storage & Periph...",3.255311e+09
1935,2018-02-02,32.51,32.5100,31.535,31.63,3526028,XRX,Xerox Holdings,"Technology Hardware, Storage & Periph...",3.255311e+09
1936,2018-02-05,31.80,32.6800,31.380,31.38,4104575,XRX,Xerox Holdings,"Technology Hardware, Storage & Periph...",3.255311e+09
1937,2018-02-06,30.94,31.5300,30.220,30.85,4431244,XRX,Xerox Holdings,"Technology Hardware, Storage & Periph...",3.255311e+09
1938,2018-02-07,30.73,31.4050,30.730,31.18,2983504,XRX,Xerox Holdings,"Technology Hardware, Storage & Periph...",3.255311e+09

In [9]:
# try with all_stock_5yr.csv

all_stock = pd.read_csv(Path('resources/all_stocks_5yr.csv'))
all_stock

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

In [11]:
# check for null values
null = all_stock.isnull().sum().sum()
null

27

In [13]:
# read our current data
# the chosen data is: tech.csv (1 year)

APLdf = pd.read_csv(Path('resources/csv/APL1mo.csv'))
APLdf.head(5)

,date,open,high,low,close,volume,Symbol,Name,Industry,Market Cap
0,2018-01-08,174.35,175.6100,173.93,174.35,20567766,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
1,2018-01-09,174.55,175.0600,173.41,174.33,21583997,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
2,2018-01-10,173.16,174.3000,173.00,174.29,23959895,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
3,2018-01-11,174.59,175.4886,174.49,175.28,18667729,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12
4,2018-01-12,176.18,177.3600,175.65,177.09,25418080,AAPL,Apple,"Technology Hardware, Storage & Periph...",2.920520e+12

In [14]:
APL_data = APLdf['date','open','high','low','close','volume']
APL_data

KeyError: ('date', 'open', 'high', 'low', 'close', 'volume')